<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

    <!-- Highcharts CDN -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <title>Avalon Sigma</title>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-light bg-light py-0 mb-2 justify-content-between">
    <a class="navbar-brand" href="/game/"><em class="fa fa-jedi"></em> Avalon Sigma 0.1</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/game/debug/">Debug</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/game/restart/">Restart</a>
        </li>
    </ul>
</nav>

<div class="container m-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="supplies-tab" data-toggle="tab" href="#supplies">Supplies and Cargo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="systems-tab" data-toggle="tab" href="#systems">Ship Systems</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="reference-tab" data-toggle="tab" href="#reference">Reference</a>
        </li>
    </ul>

    <div class="tab-content mt-3">

        <div class="tab-pane fade show active" id="supplies">
            <!-- Supplies and Cargo -->
            <div class="tab-pane fade show active" id="supplies">
                <!-- Sub Tabs -->
                <ul class="nav nav-tabs" id="suppliesSubTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="currentStorageLevels-tab" data-toggle="tab" href="#currentStorageLevels" role="tab" aria-controls="currentStorageLevels" aria-selected="true">Current Storage Levels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="productionConsumption-tab" data-toggle="tab" href="#productionConsumption" role="tab" aria-controls="productionConsumption" aria-selected="false">Production/Consumption</a>
                    </li>
                </ul>

                <!-- Sub Tab Contents -->
                <div class="tab-content" id="suppliesSubTabContents">
                    <div class="tab-pane fade show active" id="currentStorageLevels" role="tabpanel" aria-labelledby="currentStorageLevels-tab">
                        <table id="suppliesTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Resource</th>
                                    <th scope="col">In storage</th>
                                    <th scope="col">Capacity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for resource_name, resource_data in ship_resources.items %}
                                    <tr>
                                        <td id="{{ resource_name }}_name">{{ resource_name }}</td>
                                        <td id="{{ resource_name }}_quantity">{{ resource_data.available }}</td>
                                        <td id="{{ resource_name }}_capacity">
                                            {{ resource_data.capacity }}
                                            {% if resource_data.storage_type == "General Cargo" %}
                                                (shared)
                                            {% endif %}

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="productionConsumption" role="tabpanel" aria-labelledby="productionConsumption-tab">
                        <!-- Place for Highcharts -->
                            <div id="productionConsumption"></div>
                    </div>
                </div>
            </div>
        </div> <!-- Supplies -->

        <div class="tab-pane fade" id="systems">
            <!-- Ship Systems -->
            <table id="systemsTable" class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">System</th>
                        <th scope="col">Subsystem</th>
                        <th scope="col">Component</th>
                        <th scope="col">Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    {% for system in systems %}
                        {% for subsystem in system.subsystems.all %}
                            {% for component in subsystem.components.all %}
                            <tr>
                                <td>{{ system.name }}</td>
                                <td>{{ subsystem.name }}</td>
                                <td>{{ component.component.name }}</td>
                                <td>{{ component.quantity }}</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                </tbody>
            </table>
        </div> <!-- Ship Systems -->

        <div class="tab-pane fade" id="reference">
            <!-- Reference Content -->         
            <!-- Sub Tabs -->
            <ul class="nav nav-tabs" id="subTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="components-tab" data-toggle="tab" href="#components" role="tab" aria-controls="components" aria-selected="true">Components</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="storageTypes-tab" data-toggle="tab" href="#storageTypes" role="tab" aria-controls="storageTypes" aria-selected="false">Storage Types</a>
                </li>
            </ul>
            
            <!-- Sub Tab Contents -->
            <div class="tab-content" id="subTabContents">
                <div class="tab-pane fade show active" id="components" role="tabpanel" aria-labelledby="components-tab">
                    <table id="referenceTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Component</th>
                                <th scope="col">Consumes</th>
                                <th scope="col">Produces</th>
                                <th scope="col">Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for component in components %}
                            <tr>
                                <td>{{ component.name }}</td>
                                <td>
                                    {% for key, value in component.consumes.items %}
                                        {{ key }}: {{ value }}<br>
                                    {% endfor %}                        
                                </td>
                                <td>
                                    {% for key, value in component.produces.items %}
                                        {{ key }}: {{ value }}<br>
                                    {% endfor %}                            
                                </td>
                                <td>{{ component.info }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                <div class="tab-pane fade" id="storageTypes" role="tabpanel" aria-labelledby="storageTypes-tab">
                    <table id="storageTypeTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for storage_type in storage_types %}
                            <tr>
                                <td>{{ storage_type.name }}</td>
                                <td>{{ storage_type.description }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- Reference Content -->
      

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!-- DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    // Initialize DataTables
    $(document).ready(function() {
        $('#suppliesTable').DataTable({
            "pageLength": 100,  // Show 100 rows per page
            "lengthChange": false  // Remove the dropdown menu
        });
        $('#systemsTable').DataTable({
            "pageLength": 100,  // Show 100 rows per page
            "lengthChange": false  // Remove the dropdown menu
        });
        $('#referenceTable').DataTable({  // Assuming you also have a table with this ID for recipes
            "pageLength": 100,  // Show 100 rows per page
            "lengthChange": false  // Remove the dropdown menu
        });
        $('#storageTypeTable').DataTable({  // Assuming you also have a table with this ID for recipes
            "pageLength": 100,  // Show 100 rows per page
            "lengthChange": false  // Remove the dropdown menu
        });
    });
</script>

<script>
    // Set an interval to advance the game tick and update game state
    setInterval(function() {
        $.ajax({
            url: '/game/advance_game_tick_and_get_game_state/',  // Replace with the actual URL if different
            type: 'GET',
            success: function(response) {
                updateGameState(response);
            },
            error: function() {
                console.log('Error occurred');
            }
        });
    }, 10000);  // 10,000 milliseconds = 10 seconds 

    // Function to update the game state
    function updateGameState(gameState) {
        // Update just the resources table cells directly
        var resources = gameState.resources;
        $.each(resources, function(name, data) {
            $("#" + name + "_quantity").text(data.available);
            // Check storage type and append '(shared)' if it is 'General Cargo'
            var capacityText = data.capacity;
            if (data.storage_type === 'General Cargo') {
                capacityText += ' (shared)';
            }

            $("#" + name + "_capacity").text(capacityText);
        });
    }
</script>

<script>
    // Updating charts
    document.addEventListener("DOMContentLoaded", function() {
        // Assuming 'history' is passed from Django as a JSON object
        const historyData = JSON.parse('{{ history | safe }}');
        
        // Prepare data for Highcharts
        const ticks = historyData.map(item => item.tick);
        
        // Collect all unique resource names
        const resourceNames = Object.keys(historyData[0]).filter(key => key !== 'tick');
        
        // Create series dynamically
        const series = resourceNames.map(resourceName => {
            return {
                name: resourceName,
                data: historyData.map(item => item[resourceName])
            };
        });
        
        // Initialize Highcharts
        Highcharts.chart('productionConsumption', {
            title: { text: 'Resource Quantities Over Time' },
            xAxis: { categories: ticks },
            yAxis: { title: { text: 'Quantity' } },
            series: series
        });
    });


</script>

</body>
</html>
