<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

    <!-- Highcharts CDN -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <title>FSS Adequate</title>
</head>
<body>

<nav class="navbar navbar-expand-sm navbar-light bg-light py-0 mb-2 justify-content-between">
    <a class="navbar-brand" href="/game/"><em class="fa fa-jedi"></em> FSS Adequate</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/game/debug/">Debug</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/game/restart/">Restart</a>
        </li>
    </ul>
</nav>

<div class="container m-3">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" id="bridge-tab" data-toggle="tab" href="#bridge">Bridge</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="engineering-tab" data-toggle="tab" href="#engineering">Engineering</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="navigation-tab" data-toggle="tab" href="#navigation">Navigation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="supplies-tab" data-toggle="tab" href="#supplies">Supplies and Cargo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="reference-tab" data-toggle="tab" href="#reference">Reference</a>
        </li>
    </ul>

    <div class="tab-content mt-3">

        <div class="tab-pane fade" id="engineering">
            <!-- Engineering Content -->
            <p>TODO: maintenance requests</p>
        </div>

        <div class="tab-pane fade" id="navigation">
            <!-- Navigation Content -->
            <p>TODO: Galaxy map</p>
            <p>TODO: Local system map</p>
        </div>

        <div class="tab-pane fade show active" id="bridge">
            <!-- Bridge Content -->
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="shipStatus-tab" data-toggle="tab" href="#shipStatus">Ship Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="shipSystems-tab" data-toggle="tab" href="#shipSystems">Ship Systems</a>
                </li>
                <!-- Add more sub-tabs here -->
            </ul>

            <div class="tab-content mt-3">
                <div class="tab-pane fade show active" id="shipStatus">
                    <!-- Ship Status content here -->
                    <div class="container">

                        <div class="row">
                            <!-- Main Viewport -->
                            <div class="col-md-6">
                                <h4>Main Viewport</h4>
                                {% load static %}
                                <img src="{% static 'star.jpg' %}" class="img-fluid">
                                <table class="table table-striped">
                                    <tbody>
                                    <!-- Critical Resources -->
                                    <tr>
                                        <td>Name</td>
                                        <td>Unknown</td>
                                    </tr>
                                    <tr>
                                        <td>Classification</td>
                                        <td>G-Type Main Sequence</td>
                                    </tr>
                                    <tr>
                                        <td>Distance</td>
                                        <td>20 AU</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            <!-- Alerts -->
                            <div class="col-md-6">
                                <h4>Alerts</h4>
                                <table class="table table-striped">
                                    <tbody>
                                    <!-- Critical Resources -->
                                    <tr>
                                        <td>Air</td>
                                        <td id="alertAir" class="{{ alerts.Air.level|lower }} text-white">
                                            {{ alerts.Air.percentage }}%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Water</td>
                                        <td id="alertWater" class="{{ alerts.Water.level|lower }} text-white">
                                            {{ alerts.Water.percentage }}%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Food</td>
                                        <td id="alertFood" class="{{ alerts.Food.level|lower }} text-white">
                                            {{ alerts.Food.percentage }}%
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Energy</td>
                                        <td id="alertEnergy" class="{{ alerts.Energy.level|lower }} text-white">
                                            {{ alerts.Energy.percentage }}%
                                        </td>
                                    </tr>
                                    <!-- Maintenance Alerts -->
                                    <tr>
                                        <td>Maintenance Requests</td>
                                        <td id="alertMaintenanceRequests" class="bg-success text-white">0</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div><!-- Ship Status -->

                <div class="tab-pane fade" id="shipSystems">
                    <!-- Existing Ship Systems content here -->
                    <table id="systemsTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">System</th>
                                <th scope="col">Subsystem</th>
                                <th scope="col">Component</th>
                                <th scope="col">Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for system in systems %}
                                {% for subsystem in system.subsystems.all %}
                                    {% for component in subsystem.components.all %}
                                    <tr>
                                        <td>{{ system.name }}</td>
                                        <td>{{ subsystem.name }}</td>
                                        <td>{{ component.component.name }}</td>
                                        <td>{{ component.quantity }}</td>
                                    </tr>
                                    {% endfor %}
                                {% endfor %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div> <!-- Ship Systems -->
                <!-- Add more sub-tab content here -->
            </div>
        </div>

        <div class="tab-pane fade show" id="supplies">
            <!-- Supplies and Cargo -->
            <div class="tab-pane fade show" id="supplies">
                <!-- Sub Tabs -->
                <ul class="nav nav-tabs" id="suppliesSubTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="currentStorageLevels-tab" data-toggle="tab" href="#currentStorageLevels" role="tab" aria-controls="currentStorageLevels" aria-selected="true">Current Storage Levels</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="productionConsumption-tab" data-toggle="tab" href="#productionConsumption" role="tab" aria-controls="productionConsumption" aria-selected="false">Production/Consumption</a>
                    </li>
                </ul>

                <!-- Sub Tab Contents -->
                <div class="tab-content" id="suppliesSubTabContents">
                    <div class="tab-pane fade show active" id="currentStorageLevels" role="tabpanel" aria-labelledby="currentStorageLevels-tab">
                        <table id="suppliesTable" class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Resource</th>
                                    <th scope="col">In storage</th>
                                    <th scope="col">Capacity</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for resource_name, resource_data in ship_resources.items %}
                                    <tr>
                                        <td id="{{ resource_name }}_name">{{ resource_name }}</td>
                                        <td id="{{ resource_name }}_quantity">{{ resource_data.available }}</td>
                                        <td id="{{ resource_name }}_capacity">
                                            {{ resource_data.capacity }}
                                            {% if resource_data.storage_type == "General Cargo" %}
                                                (shared)
                                            {% endif %}

                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="tab-pane fade" id="productionConsumption" role="tabpanel" aria-labelledby="productionConsumption-tab">
                        <!-- Place for Highcharts -->
                            <div id="quantityHistory"></div>
                            <div id="productionHistory"></div>
                            <div id="consumptionHistory"></div>
                    </div>
                </div>
            </div>
        </div> <!-- Supplies -->

        <div class="tab-pane fade" id="reference">
            <!-- Reference Content -->         
            <!-- Sub Tabs -->
            <ul class="nav nav-tabs" id="subTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="components-tab" data-toggle="tab" href="#components" role="tab" aria-controls="components" aria-selected="true">Components</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="storageTypes-tab" data-toggle="tab" href="#storageTypes" role="tab" aria-controls="storageTypes" aria-selected="false">Storage Types</a>
                </li>
            </ul>
            
            <!-- Sub Tab Contents -->
            <div class="tab-content" id="subTabContents">
                <div class="tab-pane fade show active" id="components" role="tabpanel" aria-labelledby="components-tab">
                    <table id="referenceTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Component</th>
                                <th scope="col">Consumes</th>
                                <th scope="col">Produces</th>
                                <th scope="col">Info</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for component in components %}
                            <tr>
                                <td>{{ component.name }}</td>
                                <td>
                                    {% for key, value in component.consumes.items %}
                                        {{ key }}: {{ value }}<br>
                                    {% endfor %}                        
                                </td>
                                <td>
                                    {% for key, value in component.produces.items %}
                                        {{ key }}: {{ value }}<br>
                                    {% endfor %}                            
                                </td>
                                <td>{{ component.info }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
                <div class="tab-pane fade" id="storageTypes" role="tabpanel" aria-labelledby="storageTypes-tab">
                    <table id="storageTypeTable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for storage_type in storage_types %}
                            <tr>
                                <td>{{ storage_type.name }}</td>
                                <td>{{ storage_type.description }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- Reference Content -->
      

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<!-- DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script>
    // Initialize DataTables
    $(document).ready(function() {
        $('#suppliesTable').DataTable({
            "pageLength": 100,  // Show 100 rows per page
            "lengthChange": false  // Remove the dropdown menu
        });
        $('#systemsTable').DataTable({
            "pageLength": 100,  // Show 100 rows per page
            "lengthChange": false  // Remove the dropdown menu
        });
        $('#referenceTable').DataTable({  // Assuming you also have a table with this ID for recipes
            "pageLength": 100,  // Show 100 rows per page
            "lengthChange": false  // Remove the dropdown menu
        });
        $('#storageTypeTable').DataTable({  // Assuming you also have a table with this ID for recipes
            "pageLength": 100,  // Show 100 rows per page
            "lengthChange": false  // Remove the dropdown menu
        });
    });
</script>

<script>
    // Set an interval to advance the game tick and update game state
    setInterval(function() {
        $.ajax({
            url: '/game/advance_game_tick_and_get_game_state/',  // Replace with the actual URL if different
            type: 'GET',
            success: function(response) {
                updateGameState(response);
            },
            error: function() {
                console.log('Error occurred');
            }
        });
    }, 10000);  // 10,000 milliseconds = 10 seconds 

    // Function to update the game state
    function updateGameState(gameState) {
        // Update just the resources table cells directly
        var resources = gameState.resources;
        $.each(resources, function(name, data) {
            $("#" + name + "_quantity").text(data.available);
            // Check storage type and append '(shared)' if it is 'General Cargo'
            var capacityText = data.capacity;
            if (data.storage_type === 'General Cargo') {
                capacityText += ' (shared)';
            }

            $("#" + name + "_capacity").text(capacityText);
        });

        // update alerts directly
        var alerts = gameState.alerts;  // Replace with the actual path to the alerts in your game state object
        $.each(alerts, function(name, data) {
            $("#alert" + name).text(data.percentage + '%');
            $("#alert" + name).attr('class', data.level.toLowerCase() + ' text-white');
        });

    }
</script>

<script>
    // Updating charts
    document.addEventListener("DOMContentLoaded", function() {
        // Assuming 'history' is passed from Django as a JSON object
        const historyData = JSON.parse('{{ history | safe }}');

        // Prepare data for Highcharts
        const ticks = historyData.map(item => item.tick);

        // Check if historyData has data and if it's not empty
        if (historyData && historyData.length > 0) {
            // Collect all unique resource names from the first 'quantity_data' object
            const resourceNames = Object.keys(historyData[0].quantity_data);

            // Function to create series
            const createSeries = (dataKey, titlePrefix) => {
                return resourceNames.map(resourceName => {
                    return {
                        name: `${resourceName}`,
                        data: historyData.map(item => item[dataKey] ? item[dataKey][resourceName] : null)
                    };
                });
            };

            // Create series dynamically for quantities, production, and consumption
            const quantitySeries = createSeries('quantity_data', 'Quantity');
            const productionSeries = createSeries('production_data', 'Production');
            const consumptionSeries = createSeries('consumption_data', 'Consumption');

            // Initialize Highcharts for Quantity
            Highcharts.chart('quantityHistory', {
                title: { text: 'Resource Quantities Over Time' },
                xAxis: { categories: ticks },
                yAxis: { title: { text: 'Quantity' } },
                series: quantitySeries
            });

            // Initialize Highcharts for Production
            Highcharts.chart('productionHistory', {
                title: { text: 'Resource Production Over Time' },
                xAxis: { categories: ticks },
                yAxis: { title: { text: 'Production' } },
                series: productionSeries
            });

            // Initialize Highcharts for Consumption
            Highcharts.chart('consumptionHistory', {
                title: { text: 'Resource Consumption Over Time' },
                xAxis: { categories: ticks },
                yAxis: { title: { text: 'Consumption' } },
                series: consumptionSeries
            });
        }
    });
</script>

</body>
</html>
